*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100%;
    width: 100%;
}
.container{
    max-width: 95vw;
    margin: 0 auto;
    padding: 2rem 1rem;

    /* background-color: #bf4d4d; */
}
a{
    text-decoration: none;
}
#header{
    margin-bottom: 2.8rem;

}
#title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

#desc{
    max-width: 568px;
    text-align: center;
    color: rgb(116, 99, 99);
    margin: 0 auto;
}
#main{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);

}
#card-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(113, 94, 94);
    border-radius: 2px;
}

#card-img-container{
    position: relative;
    overflow: hidden;
    height: 14rem;
    
}
#card-img-container #card-img{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100;
}

#card-title-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

#card-container:hover #card-img-container #card-img{
    transform: scale(1.1);
    transition-duration: 200ms;
}
#card-title-container #card-title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(26, 23, 23);
    margin-bottom: 0.3rem;
}  
#card-title-anchor:hover #card-title{
    color: rgb(75, 75, 114);
}

#card-title-container #card-desc{
    color: rgb(63, 62, 62);
    font-size: 1rem;
    
}

#card-footer-container{
    display: flex;
    justify-content: space-between;
}

#author-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#author-avtar{
    height: 5rem;
    width: 2.5rem;
}
#author-avtar #avtar{
    height: 2rem;
    width: 1rem;
}

