*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    /* background-color: #b40b0b; */
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height:12vh;
    width: 100%;
    /* background-color: #7c5b5b; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h2{
    /* background-color: #fff; */
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 25px;
    font-weight: 600;
        
}
#nav h2:nth-last-child(1){
    width: 10%;
    font-size: 20px;
}
#nav h1{
     /* background-color: #fff; */
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 40px;
    letter-spacing: -1px;
}
#nav h1::after{
  content: "©"; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 20px;
  top: 8%;
  left: 17.9%;
  position: absolute;   
}
#nav h3{
    display: none;
}
#center{
    height: 90%;
    width: 100%;
    /* background-color: #7754a9; */
    padding: 4vw;
    position: relative;

}
#content{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 50%;
    width: 100%;
    /* background-color: #40957d; */
    position: absolute;
    bottom: 0;
    padding: 3vw;
    background-color: rgba(0, 0, 0, 0.155);
    backdrop-filter: blur(2px);
    
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    margin-bottom: 1.5vw;

}
#over1 h1{
    font-family: monument;
    font-size: 3.5vw;
    font-weight: 100;
}
#over1 h2{
    /* font-family: monument; */
    /* font-size: 3.5vw;
    font-weight: 100; */
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    border: 2px solid #fff;
    border-bottom: 2px solid #fff;
 
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: aliceblue; */
    border-top: 2px solid #fff;
    
}
#over2 h4{
    font-size: 1.5vw;
    font-weight: 500;
    color: #fff;
    padding-top: 1.4vw;
}

#over2 img{
    height: 3vh;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: aqua; */
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 95%;
    width: 110%;
    /* background-color: #c14444; */
    padding: 1vw;
    display: inline-block;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#scroll img{
    /* display: none; */
    height: 100%;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    margin: 1vw;
    object-position: 30% 30%;

}

@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #000;
    letter-spacing: 4px;
    margin-right: 2vw;
}

#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    /* border-bottom: 2px solid #000; */
    letter-spacing: 4px;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all ease 0.2s;
}
#alphabet h6:hover{
    border: 2px solid #000;

}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;

}

#part1{

    height: 100%;
    width: 50%;
    background-image: url('https://plus.unsplash.com/premium_photo-1687186953637-78a495aec485?q=80&w=686&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    
}

#part2{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}
#part2 img{
    height: 70%;
    width: 90%;
    object-fit: cover;
    object-position: 50% 10%;
}
#part-2-content{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    gap: 1.5vw;
    /* font-size: 1.2vw;
    font-weight: 700; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#part-2-content  #h3{
   
width: 50%;
}
#part-2-content  #p2{
    width: 50%;
    font-weight: 300; 
    align-self: right;
}

#page3{
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    position: relative;
    padding: 5vw 4vw;


}

#page3>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 7vh;
}
.elem{
    height: 15vh;
    width: 100%;
    /* background-color: red; */
    display: flex;align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    position: relative;

}
.elem img{
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    transition: all ease 0.5s;
}
.elem h4{
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 10%;
}
.elem .elem-part2{
    width: 45%;

}
.elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
}
.elem-part2 h5{
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem:hover img{
    opacity: 1;
    left: 24%;
}
#marque{
    /* height: 20vh; */
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    /* background-color: red; */
}
#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;
    margin-right: 16px;
    letter-spacing: 2px;
    animation-name: marque;
    animation-duration: 4s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes marque{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
#footer{
    height: 100%;
    width: 100%;
}

@media (max-width:600px){
    body{
        overflow-x: hidden;
    }
    #nav{
    height:8vh;
    margin-top: 20px;
    padding: 0 5vw;
}
#nav h1{
    width: 40%;
    justify-content: flex-start;
    font-size: 25px;
}
#nav h3{
    display: block;
}
#nav h2{
    /* background-color: #fff; */
    display: none;
        }
#nav h1::after{  
  display: none; 
}


#center{
    height: 50%;
    width: 100%;
    /* background-color: #7754a9; */
    padding: 4vw;
    position: relative;

}
#content{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: fit-content;
    width: 100%;
    /* background-color: #40957d; */
    position: absolute;
    bottom: 0;
    padding: 3vw;
    background-color: rgba(0, 0, 0, 0.155);
    backdrop-filter: blur(2px);
    
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    margin-bottom: 1.5vw;

}
#over1 h1{
    font-family: monument;
    font-size: 4.5vw;
    font-weight: 100;
}
#over1 h2{
    /* font-family: monument; */
    /* font-size: 3.5vw;
    font-weight: 100; */
    font-size: 3vw;
    padding: 3vw 4.2vw;
    border-radius: 50%;
    border: 2px solid #fff;
    border-bottom: 2px solid #fff;
 
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: aliceblue; */
    border-top: 2px solid #fff;
    
}
#over2 h4{
    font-size: 3.3vw;
    font-weight: 500;
    color: #fff;
    padding-top: 1.4vw;
}

#over2 img{
    height: 4.5vh;
}
#scroll{
    height: 20vh;
    width: 100%;
    /* background-color: aqua; */
    padding: 1.5vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 95%;
    width: 200%;
    /* background-color: #c14444; */
    padding: 1vw;
    display: inline-block;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#scroll img{
    /* display: none; */
    height: 100%;
    width: 15.3%;
    border-radius: 50%;
    object-fit: cover;
    margin: 1vw;
    object-position: 30% 30%;

}

}