@font-face {
    font-family: neue;
    src: url('./NeueHaasDisplayMediu.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: neue;
}
html,body{
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    width:100%;
    background-color: #EFEAE3;
    position: relative;
    /* padding: 0 2vw; */
}
nav{
    padding: 2vw 0;
    width: 100%;
    /* background-color: rgb(204, 156, 156); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid rgb(152, 128, 128);
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    color: rgb(14, 14, 14);
    overflow: hidden;
    transition: all ease 0.4s;
}
#nav-part2 h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a{
    color: #fff;
}
#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
    
}

#nav-part2 h4:hover::after{
 bottom: 0;
 border-radius: 0;
}

#center{
    height: 65vh;
    width: 100vw;
    /* background-color: rgb(50, 69, 63);  */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  
    border-bottom: 1px solid #0000003c;
    padding: 2vw;
    /* padding-bottom: 2vw;  */
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video{
    position: relative;
  width: 100%;
  padding: 2vw;
  border-radius: 50px;
  margin-top: 4vw;

}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

#hero-1{
    background-color: #FE320A;
    height: 100%;
    width: 100%;

    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}
#hero-2{
    background: linear-gradient(#FE320A,#fe3f0a);
    height: 30vw;
    width: 30vw;
    position: absolute;
    filter: blur(25px);
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero-3{
    background: linear-gradient(#FE320A,#fe3f0a);
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
       transform: translate(0%,10%);
    }
    
}

@keyframes anime2 {
      from{
         transform: translate(5%,-5%);
      } 
      to{
         transform: translate(-20%,30%
         )
      }   
}


